<div>    
    <h1>Lista de Clientes</h1>
    <button><a href="{% url 'novo_cliente' %}">Novo Cliente</a></button>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Telefone</th>            
        </tr>
        {% for dado in dados_cliente %}
        <tr>
            <td>{{dado.cliente_nome}}</td>
            <td>{{dado.cliente_telefone}}</td>            
            <td><button><a href="{% url 'detalhe_cliente' dado.id %}">Detalhe</a></button></td>
            <td><button><a href="{% url 'editar_cliente' dado.id  %}">Editar</a></button></td>
            

        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><button><a href="/servicos/">Serviços</a></button></td>
        </tr>
    </table>
</div>