{% extends 'oficina/base.html' %}
{% block conteudo %}
<table class="table table-striped table-bordered">
	<tr>
		<td><h1 style='text-align: center;'>Detalhe de Serviço</h1></td>
	</tr>    
</table> 
<div class="container">
<table class='table table-hover table-bordered'>
	<tr>
		<th>Cliente</th>
		<th>Servico</th>
		<th>Veiculo</th>
		<th>Modelo</th>
		<th>Ano Veiculo</th>
		<th>Cor</th>
		<th>Placa</th>
		<th>Data</th>
		<th>Valor</th>
		<th>Pagamento</th>
	</tr>
	<tr>
	    <td>{{dados_servico.cliente}}</td>
		<td>{{dados_servico.servico}}</td>
		<td>{{dados_servico.fabricante}}</td>
		<td>{{dados_servico.modelo}}</td>
		<td>{{dados_servico.ano_fab}}</td>
		<td>{{dados_servico.cor}}</td>
		<td>{{dados_servico.placa}}</td>
		<td>{{dados_servico.data}}</td>
		<td>{{dados_servico.valor}}</td>
		{% if dados_servico.pago == True %}
		<td class="badge badge-info">{{"Pago"}}</td>
		{% else%}
		<td class="badge badge-danger">{{"Pendente"}}</td>
		{% endif %}
	</tr>	
</table>
<table>
	<tr>
		<td></td>
		<td></td>
		<td><button><a href="/servicos/">Voltar</a></button></td>
	</tr>
</table>
</div>
{% endblock %}