<h1>Detalhe de Serviço</h1>
<table>
	<tr>
		<th>Cliente</th>
		<th>Servico</th>
		<th>Veiculo</th>
		<th>Modelo</th>
		<th>Ano Veiculo</th>
		<th>Cor</th>
		<th>Placa</th>
		<th>Data</th>
		<th>Valor</th>
		<th>Pagamento</th>
	</tr>
	<tr>
		<td>{{dados_servico.cliente}}</td>
		<td>{{dados_servico.servico}}</td>
		<td>{{dados_servico.fabricante}}</td>
		<td>{{dados_servico.modelo}}</td>
		<td>{{dados_servico.ano_fab}}</td>
		<td>{{dados_servico.cor}}</td>
		<td>{{dados_servico.placa}}</td>
		<td>{{dados_servico.data}}</td>
		<td>{{dados_servico.valor}}</td>
		{% if dados_servico.pago == True %}		
			<td>{{"Pago"}}</td>
		{% else%}
			<td>{{"Pendente"}}</td>
		{% endif %}

	</tr>
</table>