{% extends 'oficina/base.html' %}
{% block conteudo %}
{% load crispy_forms_tags %}
<div class="text-center">
    <h1>Formulario Novo Cliente</h1>
</div>
<div class="text-left" style="padding: 20px;">
    <td><button class="btn btn-success"><a href="/" style='color:white;'>Voltar</a></button></td>
</div>
<div class="container mt-3" style="margin:30px;" style="width:95%; font-size:14px">    
    <form class="card p-3 mt-5" action="" method="POST" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-8">{{formulario.cliente_nome | as_crispy_field }} </div>            
        </div>
        <div class="row">           
            <div class="col-4">{{formulario.cliente_telefone | as_crispy_field }} </div>
            <div class="col-4">{{formulario.cliente_email | as_crispy_field }} </div>
        </div>

        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" style="width: 90px;">Salvar</button>
        <button class="btn btn-primary mt-3" style="width: 90px;"><a href="/" style='color:white;'>Voltar</a></button>
    </form>
</div>
{% endblock %}