{% extends 'oficina/base.html' %}
{% block conteudo %}
{% load crispy_forms_tags %}
<div class="text-left" style="margin-left:20px;">
    <button class="btn btn-primary mt-3"><a href="/" style='color:white;'>Voltar</a></button>
</div>
<div class="container" style="padding:30px;" style="width:90%; font-size:14px">
    <h1 style='text-align:center;'><u style="height: 5px;color: rgb(78, 79, 78);">Formulário Novo Serviço</u></h1>
    <form class="card p-3 mt-5" action="" method="POST" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">{{formulario_servico.servico | as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{formulario_servico.fabricante | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.modelo | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.ano_fab | as_crispy_field }} </div>
        </div>
        <div class="row">
            <div class="col-4">{{formulario_servico.cor | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.placa | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.valor | as_crispy_field }} </div>
        </div>
        <div class="row">
            <div class="col-4">{{formulario_servico.pago | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.data | as_crispy_field }} </div>
            <div class="col-4">{{formulario_servico.cliente | as_crispy_field }} </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 90px;">Salvar</button>
        <button class="btn btn-primary mt-3" style="width: 90px;"><a href="/" style='color:white;'>Voltar</a></button>
    </form>
</div>
{% endblock %}