<div>
    <h1>Lista de Serviços</h1>
    <button><a href="{% url 'novo_servico' %}">Novo Serviço</a></button>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data</th>
        </tr>
        {% for dado in dados_servico %}
        <tr>
            <td>{{dado.cliente}}</td>
            <td>{{dado.servico}}</td>
            <td>{{dado.data}}</td>
            <td><button><a href="{% url 'detalhe_servico' dado.id %}">Detalhe</a></button></td>
            <td><button><a href="{% url 'editar_servico' dado.id %}">Editar</a></button></td>

        </tr>
        {% endfor %}      

    </table>
    <table>
        <tr>
            <td></td>
            <td><button><a href="/">Voltar Para Cliente</a></button></td>
        </tr>
    </table>
</div>